h2 {
    font-size: 32px;
    font-style: Palatino, sans-serif;
}
nav {
    background-image: url(https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjb3qLOn8TQAhVHQiYKHfH6AxMQjRwIBw&url=http%3A%2F%2Fthesource.com%2F2015%2F12%2F06%2Fheres-why-millennials-should-be-calling-atlanta-home%2F&psig=AFQjCNGLqt7H0Uqt4BGoWDa5s8dT--yiPw&ust=1480174971368549);
    background-size: cover;
}
